<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-bootstrap/ui-bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bower_components/angular-modal-service/dst/angular-modal-service.js') }}"></script>

    <link href="{{ url_for('static', filename='bower_components/angular-ui-select/dist/select.css') }}"
          rel="stylesheet">

    <link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://rawgit.com/dbtek/angular-aside/master/dist/css/angular-aside.css"/>

    <script src="{{ url_for('static', filename='bower_components/angular-route/angular-route.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/angular-aside/dist/js/angular-aside.js') }}"></script>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/showdown/dist/showdown.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/ng-showdown/dist/ng-showdown.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/angular-bootstrap-dropdown/dist/bsDropdown.min.js') }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

    <script src="{{ url_for('static', filename='bower_components/angular-ui-select/dist/select.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/angular-animate/angular-animate.min.js') }}"></script>

    <script src="{{ url_for('static', filename='bower_components/angular-pageslide-directive/dist/angular-pageslide-directive.js') }}"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script src="{{ url_for('static', filename='js/utils/urls.js') }}"></script>

    <!-- контроллеры -->
    <script src="{{ url_for('static', filename='js/controllers/mainController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/projectController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/dataController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/algorithmsController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/analysClassifController.js') }}"></script>

    <script src="{{ url_for('static', filename='js/controllers/pageslideController.js') }}"></script>

    <script src="{{ url_for('static', filename='js/controllers/modalController.js') }}"></script>

    <script src="{{ url_for('static', filename='js/controllers/languageController.js') }}"></script>

    <!-- фильтры -->
    <script src="{{ url_for('static', filename='js/filters/mainFilters.js') }}"></script>

    <!-- директивы -->
    <script src="{{ url_for('static', filename='js/directives/menuDirective.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/analysClassif.css') }}">

    <base href="/#mainPage"></base>
</head>
<body ng-app="myApp">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Название компании и кнопка, которая отображается для мобильных устройств группируются для лучшего отображения при свертывании -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <div toggle-class></div>
        </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;" ng-controller="languageController as ctrl">
{#            <li class="active">#}
{#                <a href="#">Войти</a>#}
{#            </li>#}
            <li>
                <div class="row" style="margin-top: 10px">
                    <ui-select ng-model="selectedLanguage" theme="select2" style="min-width: 150px;"
                               title="Выберите язык" ng-change="">
                        <ui-select-match placeholder="Select a language">
                            [[$select.selected.title]]
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in allLanguages | propsFilter: {title: $select.search}">
                            <div ng-bind-html="item.title | highlight: $select.search"></div>
                            <small>
                                title: [[item.title]]
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#/">Главная</a>
            </li>
            <li>
                <a href="#projects">Проекты</a>
            </li>
            <li>
                <a href="#data">Данные</a>
            </li>
            <li>
                <a href="#algorithms">Алгоритмы</a>
            </li>
            <li>
                <a href="#analysclassif">Анализ и классификация</a>
            </li>
        </ul>
    </div>
    <ng-view></ng-view>

</div>

</body>
</html>